<div class="app-container">
  <div class="dynamic-content">
      <header>
          <div class="progress-bar">
            <div class="block completed" #blocks></div>
            <div class="block" #blocks></div>
            <div class="block" #blocks></div>
            <div class="block" #blocks></div>
          </div>
          <img src="./assets/logos/logotipo-asisa.svg" alt="Logotipo Asisa">
      </header>
      <div class="central-container">
        <div class="top-section">
          <a routerLink="/step1" class="back-link">
            <img src="./assets/icons/back-arrow.png" alt="Flecha de atrás" class="back-arrow">
          </a>
        </div>

        <div class="main-content">
          <div class="avatar-container">
            <div class="avatar">
              <img src="./assets/images/ellipse-4.png" alt="Avatar de usuario">
            </div>

          </div>
          <div class="text-container">
            <p class="block-indicator">Bloque 1 de 4</p>
            <p class="welcome-text">Y cuéntame, ¿cómo te llamas?</p>
          </div>
        </div>

        <div class="name-container">
          <input type="text" placeholder="Nombre y apellido" (change)="saveUserName($event)">
        </div>
    </div>
    <div class="bottom-section">
      <button class="next-button" #nextButton routerLink="/step3">Siguiente</button>
      <span>o pulsa intro</span>
    </div>

  </div>
  <div class="static-content">
      <div class="resume-container">
        <p>Resumen de tu seguro de salud</p>
      </div>
  </div>
</div>
